.contact-form {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin: 10px 0;
}

h3 {
  text-align: center;
  margin: 5px 0;
  font-size: 1.2em; /* Adjust font size as needed */
  color: #555; /* Optional: color for the subtitle */
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  flex: 0 0 150px; /* Adjust width as needed */
  margin-right: 10px;
}

.form-group input,
.form-group textarea {
  flex: 1; /* Take remaining space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical; /* Allow vertical resizing */
}

button {
  width: 40%; /* Adjust width */
  max-width: 160px; /* Maximum width */
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #ec7700 0%, #ce000e 100%);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin: 20px auto; /* Center the button */
  display: block; /* Block display to center */
}

button:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

p {
  margin-top: 10px;
  text-align: center; /* Center the status message */
}
