.contact-form {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin: 10px 0;
}

h3 {
  text-align: center;
  margin: 5px 0;
  font-size: 1.2em; /* Adjust font size as needed */
  color: #555; /* Optional: color for the subtitle */
}

.form-group input,
.form-group textarea {
  flex: 1; /* Take remaining space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical; /* Allow vertical resizing */
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  padding: 20px 10px;
}

.form-group label {
  flex: 0 0 250px; /* Adjust width as needed */
  margin-right: 10px; /* Space between label and input */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center align label text and tag */
  font-weight: bold;
}

.required-tag {
  background-color: #ce000e;
  color: white;
  padding: 3px 6px;
  margin-left: 10px;
  font-size: 0.9em;
  line-height: 1;
}

@media (max-width: 600px) {
  .contact-form {
    padding: 10px;
    max-width: 100%;
  }

  .form-group {
    flex-direction: column;
  }

  .form-group label {
    flex: none;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
  }

  button {
    width: 80%;
    max-width: none;
  }

  .required-tag {
    margin-top: 5px;
  }
}
