/* src/components/Splash.css */
.splash-container {
  position: absolute; /* Use absolute to ensure it overlays correctly */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0; /* Initial background color */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* High z-index to ensure it overlays the content */
  transition: opacity 1s;
}

.text-container {
  position: absolute;
  display: flex;
  width: 35%; /* Adjust as needed */
  max-width: 450px; /* Adjust as needed */
  justify-content: space-between;
  align-items: center; /* Center items vertically */
}

.text-left,
.text-right {
  font-size: 3rem; /* Adjust as needed */
  font-family: Arial, sans-serif;
  white-space: nowrap; /* Prevent text from wrapping */
}

.text-left {
  animation: flyInFromLeft 2s forwards, stayInCenter 2s 2s forwards, flyOutToLeft 2s 4s forwards;
}

.text-right {
  animation: flyInFromRight 2s forwards, stayInCenter 2s 2s forwards, flyOutToRight 2s 4s forwards;
}

.content {
  position: relative; /* Change to relative if needed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s;
}

.show-content {
  opacity: 1;
}

@keyframes flyInFromLeft {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyInFromRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes flyOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}

@keyframes stayInCenter {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}
