.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: #DC3707; /* Base color */
  background: linear-gradient(to right, #ec7700 0%, #ce000e 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  position: relative; /* Required for absolute positioning of the mobile menu */
  z-index: 2;
}

/* Logo */
.logo img {
  width: 150px;
  margin-bottom: 20px;
}

/* Menu List */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* Menu Items */
.menu li {
  font-size: 1em;
  font-weight: bold;
}

.menu li a {
  text-decoration: none;
  color: #FFFFFF; /* White text color */
  transition: color 0.3s, transform 0.3s;
  padding: 10px 15px; /* Padding around the text */
}

.menu li a:hover {
  color: #FFEB3B; /* Change to your preferred hover color */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 40px;
  color: #FFFFFF;
}
.menu li {
  display: block; /* Stack menu items vertically */
  text-align: center; /* Center text */
}

.menu li a {
  display: block; /* Full width links for mobile */
  padding: 15px 20px; /* Adjust padding for mobile */
  border-radius: 0; /* Remove rounded corners for mobile */
  font-size: 20px; /* Larger font size for readability */
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .navbar {
    /*align-items: flex-start;*/
  }
  .logo img{
    /*margin-left: 30px;*/
  }
  .menu {
    display: none;
  }
  .menu-toggle {
    display: flex; /* Show hamburger icon on mobile */
  }
  .menu.active {
    display: block;
    position: absolute;
    top: 100%; /* Aligns the menu right below the navbar */
    right: 0;
    width: 100%;
    background: linear-gradient(to right, #ec7700 0%, #ce000e 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Same shadow as navbar */
    transition: max-height 0.3s ease-in-out;
    overflow: hidden; /* Hide overflow */
    max-height: 500px; /* Adjust to fit menu items; ensure it's enough to show all items */
  }
  .menu li a {
    font-size: 1.2em;
  }
}