.App {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Make sure it takes at least the full height of the viewport */
}

main {
  flex: 1; /* This allows the main content to expand and take available space */
}

